
*{
    font-size: small;
    padding: 100;
    margin:100;
    font-family: sans-serif;
}
body{
    background:url(regbg.jpg)no-repeat;
    background-size: 100%;

}
.login-form{
    width: 400px;
    top: 5px;
    left: 700px;
    
    position:relative;
    color: #fff;
    align-items: center;
}
.login-form h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form p{
    font-size: 20px;
    margin: 15px 0;
}
.login-form input{
    font-size: 10px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 50px;
    width: 50%;
    height: fit-content;
    border-radius: 5px;
    border: 0;
}


